snippet closure
(function (${1:argument}) {
	${3:// body}
}(${2:define}));

snippet define 
(function (${2:define}) {
	define([${3:routes}], function (${4:definitions}) {
		
	});
}(${1:this.define}));

